body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile-img {
  border: 3px solid #0dcaf0;
  object-fit: cover;
}
